# VS code
.vscode/

# Pycharm
,idea/

# Git
.git
.gitignore
LICENSE
README.md

# Editor
.editorconfig

# NodeJS
node_modules/
package-lock.json
build/

# Yarn
yarn.lock

# AI 4 Smart Healthcare
compose/reactjs/Dockerfile
compose/django/Dockerfile
docker-compose.yml
